<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
    <div id="app">
        
        <label>Seleziona la classe: </label>
        <select v-model="selectedClass">
            <option v-for="classe in classi">{{ classe }}</option>
        </select>
        <div class="grid">
            <div class="item" :class=" 'h' + materie.height " :style="{backgroundColor: materie.backgroundColor}"  v-for="materie in orario[selectedClass]">
                <div v-if="materie.type == 'subject'" class="subjects" :style="{color: materie.color+'d0'}">
                    <p>{{ materie.classNumber }}</p>
                    <p>{{ materie.subject }}</p>
                </div>
                <p v-else class="dates">
                    {{ materie.date }}
                </p>
            </div>
        </div>
    </div>



    <script type="module">
        import orario from './schedule.json' assert { type: "json" }
        import classi from './classes.json' assert { type: "json" }
        let app = Vue.createApp({
            data(){
                return{
                    classi,
                    orario,
                    selectedClass: "4CIA",
                }
            },
            methods: {
                
            }
        })

        const mountedApp = app.mount('#app')

    </script>
</body>
</html>