*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.grid{
    display: grid;
    grid-template-columns: 1fr repeat(6 , 4fr);
    grid-template-rows: 1fr repeat(6 , 4fr);
    gap: 16px;
    width: 1000px;
    height: 1000px;
}

.item{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px;
    border-radius: 8px;
}

.h1{
    grid-row: span 1;
}

.h2{
    grid-row: span 2;
}