@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body{
    min-height: 100vh;
}

.grid{
    display: grid;
    grid-template-columns: 1fr repeat(6 , 4fr);
    grid-template-rows: 1fr repeat(6 , 4fr);
    gap: 16px;
    width: 1000px;
    height: 1000px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px;
    border-radius: 8px;
}

.item p{
    text-align: center;
    display: block;
}

.h1{
    grid-row: span 1;
}

.h2{
    grid-row: span 2;
}

.subjects{
    font-weight: 500;
}

.subjects p:first-child{
    font-size: 40px;
}